@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Oswald:600');
@import 'variables';

html, body {
  min-height: 100% !important;
  padding: 0; 
  margin: 0;
  
  @media (max-width: 375px) {
    height: 100%;

  }

}

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;

}

body {
  background-color: $primary-color;
  margin: 0;
  font-family: 'Karla', sans-serif;

}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  
}

