@import url('https://fonts.googleapis.com/css?family=Dosis');
@import 'variables';

html, body {
  min-height: 100% !important;
  padding: 0; 
  margin: 0;
  
  @media (max-width: 375px) {
    height: 100%;

  }

}

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;

}

body {
  background-color: $primary-color;
  margin: 0;
  font-family: 'Dosis', sans-serif;

}

